<h3>Marhaba to Hamhama</h3>
Hello {{ user.fullName }} ! You've registered into Hamahama !<br><br>
Please confirm acount by clicking this <a href="{{ url('security_confirm',{'token':user.confirmationToken}) }}">Link</a>

to login, go to <a href="{{ url('security_login') }}">Login page</a><br><br>
Thanx !